<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/auth/logout">Déconnexion</a></li>
        </ul>
    </nav>
</header>